.background{
  background-color: rgb(48, 47, 47);
}

.cardPosition{
  margin-top: 250px;
}

.img{
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif; */
  height: 100%;
  width: 100%;
}

.inputField{
  background: url('https://api.iconify.design/simple-icons:codewars.svg');
  background-repeat: no-repeat;
  background-position: 3% 14px;
  background-size: 1cm;
    margin-left: 35%;
    border: 1px dotted black;
    margin-top:-100px;
 
}

.addField{
  margin-left: 45%;
  margin-top: 30px;
  background-image: url('http://www.kirupa.com/images/search.png');
  background-repeat: no-repeat;
  background-position: 50% 4px;
  

}
.text{
  margin-left:35%;
  margin-top: 20px;
}
.firstText{
  margin-top:50px;
}
