.background{
  background-color: rgb(48, 47, 47);
}

.cardPosition{
  margin-top: 250px;
}

.img{
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif; */
  height: 100%;
  width: 100%;
}

.inputField{
    margin-left: 35%;
    border: 1px dotted black;
    margin-top:-100px;
}
.addField{
  margin-left: 45%;
  margin-top: 10px;
}